client/node_modules/
client/build/
client/dist/
client/src/environments/*.ts
client/npm-debug.log
client/*.log
client/*.tmp
client/vscode/
client/idea/
client/*.js
client/*.map
client/*.angular/
client/.env

masqani/.idea/
masqani/HELP.md
masqani/target/
masqani/!.mvn/wrapper/maven-wrapper.jar
masqani/!**/src/main/**/target/
masqani/!**/src/test/**/target/
masqani/.idea
masqani/*.iws
masqani/*.iml
masqani/*.ipr
masqani/.env