<div class="px-4 mb-3">
    @switch (this.currentStep.id) {
      @case (LOCATION) {
        <h1>Where do you want to explore properties?</h1>
        <app-geo-map
        [location]="newSearch.location"
        [placeHolder]="'Choose your county'"
        (locationChange)="onNewLocation($event)"></app-geo-map>
      }
      @case (DATES) {
        <h1>When do you want to book?</h1>
        <app-search-date [dates]="newSearch.dates"
                         (datesChange)="onNewDate($event)"
                         (stepValidityChange)="onValidityChange($event)">
        </app-search-date>
      }
      @case (GUESTS) {
        <h1 class="mb-1">What are you looking for?</h1>
        <h2 class="mt-0">Number of beds, baths, etc.</h2>
        <app-info-step [infos]="newSearch.infos"
                       (infoChange)="onInfoChange($event)"
                       (stepValidityChange)="onValidityChange($event)"></app-info-step>
      }
    }
  </div>
  <app-footer-step [currentStep]="currentStep"
                   [isAllStepsValid]="isAllStepsValid()"
                   [loading]="loadingSearch"
                   (finish)="search()"
                   (next)="nextStep()"
                   (previous)="previousStep()"></app-footer-step>
  