<div class="my-4 flex justify-content-center align-items-center">
  <p-autoComplete
    [styleClass]="'autocomplete-masqani'"
    [panelStyleClass]="'country-panel'"
    [ngModel]="currentLocation"
    (onSelect)="onLocationChangeEvent($event)"
    [suggestions]="filteredCounties"
    (completeMethod)="search($event)"
    [dropdown]="true"
    [optionLabel]="formatLabel"
    [placeholder]="placeHolder()"
  ></p-autoComplete>
</div>
<div
  leaflet
  [leafletOptions]="options"
  [leafletLayersControl]="layersControl"
  (leafletMapReady)="onMapReady($event)"
  style="height: 400px; width: 100%;"
></div>
