.trash-btn {
    left: calc(100% - 70px);
    top: 10px;
}

.container-picture{
    width: 50%;
}
h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
  }