<div class="mb-3">
    <h1>Add some photos of your property.</h1>
    <h3 class="sub-style-h4 mb-2">You will need at least 5 photos to get started and add more later.</h3>

    <div class="flex align-items-center justify-content-center mt-3">
        <input type="file"
        pInputText
        id="pictures"
        placeholder="Pictures"
        accept=".jpg, .jpeg, .png, .svg, .jfif, .webp"
        multiple="multiple"
        (change)="onUploadNewPicture($event.target)">
    </div>
</div>

@if (pictures()) {
    <div class="mt-2 flex flex-wrap w-full h-full">
        @for (picture of pictures(); track picture.file.name) {
            <div class="border-1 relative border-transparentborder-round-3xl container-picture">
                <button class="absolute trash-btn p-button" (click)="onTrashPhoto(picture)">
                    <fa-icon icon="trash-can"></fa-icon>
                </button>
                <div class="border-1 border-transparent border-round-3xl bg-cover bg-no-repeat h-30rem w-full"
                [style.background-image]="'url('+ picture.picUrl +')'"></div>
            </div>
        }
    </div>
}