<div class="mb-3 ml-1 mr-1">
    <h1 class="mb-1">Give your property a title and a little description.</h1>

    <form #formDescription="ngForm" novalidate class="w-full"></form>
    <input #titleInput="ngModel" name="title" placeholder="Title" required
    class="w-full p-inputtext-lg" type="text" pInputText
    [ngModel]="description().title.value" (ngModelChange)="onTitleChange($event)">
    @if (titleInput.dirty && titleInput.invalid) {
        <small id="title-required" class="text-primary">Title is required!</small>
    }@else {
        <div class="placeholder-validation"></div>
    }

    <textarea
    #descriptionInput="ngModel" name="description"
    class="w-full mt-2" required placeholder="Summary description"
    rows="5" cols="30"
    pInputTextArea [ngModel]="description().description.value"
    (ngModelChange)="onDescriptionChange($event)">
    </textarea>
    @if (descriptionInput.dirty && descriptionInput.invalid) {
        <small id="description-required" class="text-primary">Description is required!</small>
    }@else {
        <div class="placeholder-validation"></div>
    }
</div>